@model SaleViewModel

@{ 
    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Quarterly Sales</h2>
        </div>
    </div>
    <form asp-controller="Home" asp-action="Filter" method="post" class="form-horizontal">
        <div class="row">
            <label class="control-label col-2">Employee</label>
            <select name="filter" class="form-control col-2 m-r-1"
                    asp-items="@(new SelectList(Model.Employees.OrderBy(e => e.LastName), "LastName", "LastName"))">
                <option value="@GridDTO.Default">All</option>
            </select>
            <label class="control-label col-2">Year</label>
            <select name="filter" class="form-control col-2 m-r-1"
                    asp-items="@(new SelectList(Model.Sales.OrderBy(s => s.Year), "Year", "Year"))">
                <option value="@GridDTO.Default">All</option>
            </select>
            <label class="control-label col-2">Quarter</label>
            <select name="filter" class="form-control col-2 m-r-1"
                    asp-items="@(new SelectList(Model.Sales.OrderBy(s => s.Quarter), "Quarter", "Quarter"))">
                <option value="@GridDTO.Default">All</option>
            </select>
            <button type="submit" class="btn btn-primary ml-1">Filter</button>
            <button type="submit" name="clear" value="true" class="btn btn-primary">Clear</button>
        </div>
    </form>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>@{ routes.SetSortFieldAndDirection("Year", current); }<a asp-action="List" asp-all-route-data=@routes>Year</a></th>
                        <th>@{ routes.SetSortFieldAndDirection("Quarter", current); }<a asp-action="List" asp-all-route-data=@routes>Quarter</a></th>
                        <th>@{ routes.SetSortFieldAndDirection("LastName", current); }<a asp-action="List" asp-all-route-data=@routes>Employee</a></th>
                        <th>@{ routes.SetSortFieldAndDirection("Ammount", current); }<a asp-action="List" asp-all-route-data=@routes>Ammount</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sale in Model.Sales)
                    {
                        <tr>
                            <td>@sale.Year</td>
                            <td>@sale.Quarter</td>
                            <td>@sale.Employee.FirstName @sale.Employee.LastName</td>
                            <td>@sale.Ammount.ToString("C")</td>
                        </tr>
                    }
                    <tr>
                        <td>Total Sales</td>
                        <td></td>
                        <td></td>
                        <td>@ViewBag.TotalSales.ToString("C")</td>
                    </tr>
                </tbody>
            </table>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                routes.PageNumber = i;
                <a asp-action="List" asp-all-route-data=@routes class="btn btn-primary">@i</a>
            }
        </div>
    </div>
</div>
